DATABASE_URL="file:./dev.db"
JWT_SECRET="cinevo-demo-dev-secret-change-in-prod-9f8e7d6c5b4a"
INTERNAL_SECRET="cinevo-dev-internal-secret"
REALTIME_PORT=3002
REALTIME_SERVER_URL="http://localhost:3002"
NEXT_PUBLIC_APP_URL="http://localhost:3001"
NEXT_PUBLIC_REALTIME_URL="http://localhost:3002"
